@font-face {
  font-family: 'JoyCards Regular';
  font-style: normal;
  font-weight: normal;
  src: local('JoyCards Regular'), url('JOYCARDS.woff') format('woff');
}

h1 {
  font-family: 'JoyCards Regular';
  color : rgb(241, 240, 248)
}
